
html, body {
    margin:0;
    padding:0;
    height: 100%;
    
    background: #2A2A2A;
    color: #E5FCFF;
    font-family: 'Bahnschrift', sans-serif;
}

#container {
    text-align: center;
}

#container .form-container {
    display: inline-block;
}

#container form {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 20px;
}

#container form .column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#container form .column > * {
    margin: 0.5rem;
}

#container form .column label {
    padding: 2px;
    text-align: right;
}

#panel .row {
    margin: 1rem 0;
}

/*.input {
    outline: solid;
    line-height: 1.4;
    border: 0.5rem gray;
    color: gray;
    background: #2A2A2A;
    border-radius: 8px;
}

.actual {
    border-radius: 8px;
    background: cyan;
    color: white;
    margin-left:25px;
}*/

/*@media (max-width: 600px) {

    body {
        color: white;
        text-align: center;
        padding-left: 20px;
    }

    .input {
        outline: solid;
        line-height: 1.4;
        border: 2px gray;
        border-block-start-color: gray;
        color: gray;
        background: black;
        border-radius: 8px;
    }

    .actual {
        border-radius: 8px;
        background: cyan;
        color: white;
        padding-left: 20px;
    }

    #typDnia {
        margin-left: 100px;
    }

    #line {
        margin-left: 20px;
    }
}
*/